.card {
	position: relative;
	padding: 1rem;
	width: 100%;
	height: 25rem;
	overflow-y: auto;

	outline: 0.1rem solid var(--color-black);
	box-shadow: 0rem 0rem 0.25rem 0.1rem var(--color-gray);

	color: var(--color-lightgray);

	::selection {
		background-color: var(--color-gray);
		color: var(--color-lightgray);
	}

	.monsterLevelImage {
		position: absolute;
		height: 1rem;
	}

	&__title {
		font-size: 1.5rem;
		font-weight: bold;
		text-align: center;
	}

	&__type {
		font-size: 1.1rem;
		text-align: center;
		padding-bottom: 1rem;
	}

	&__item {
		padding-block: 0.25rem;
		font-size: 1.1rem;
	}

	&__cardText {
		text-justify: distribute;
	}

	&__button {
		position: sticky;
		top: 95%;
		left: 95%;

		margin-top: 0.2rem;
		padding: 0.75rem;
		border-radius: 100vmax;

		background-color: var(--color-white);
		box-shadow: 0rem 0rem 0.5rem 0.1rem var(--color-gray);

		font-size: 1.1rem;

		cursor: pointer;

		transition: all 0.2s ease;

		&:hover,
		&:focus-visible {
			background-color: var(--color-lightgray);
			box-shadow: 0rem 0rem 0.5rem 0.1rem var(--color-black);
		}

		&:active {
			opacity: 0.9;
		}
	}
}

.monsterCardNormal {
	background-color: var(--color-primary-monster-normal);
}

.monsterCardEffect {
	background-color: var(--color-primary-monster-effect);
}

.monsterCardRitual {
	background-color: var(--color-primary-monster-ritual);
}

.monsterCardFusion {
	background-color: var(--color-primary-monster-fusion);
}

.spellCard {
	background-color: var(--color-primary-spell);
}

.trapCard {
	background-color: var(--color-primary-trap);
}
