.container--filter {
	position: sticky;
	top: 4.2rem;
	z-index: 1;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	padding-block: 0.5rem;

	background-color: var(--color-gray);

	::selection {
		background-color: var(--color-lightgray);
		color: var(--color-gray);
	}

	&--column {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	&--fieldset {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.5rem;
	}

	label {
		font-size: 1.2rem;
		color: var(--color-lightgray);

		cursor: pointer;
	}

	.noPointer {
		cursor: default;
	}

	legend {
		padding-bottom: 0.5rem;

		font-size: 1.5rem;
		text-align: center;
		color: var(--color-lightgray);

		cursor: default;
	}

	input {
		max-width: 20rem;
		margin: 0.5rem;
		padding: 0.25rem;

		background-color: var(--color-lightgray);
		caret-color: var(--color-primary-spell);
		accent-color: var(--color-primary-spell);

		color: var(--color-black);
		font-size: 1.5rem;

		&[type="checkbox"],
		&[type="radio"] {
			cursor: pointer;
		}
	}
}

.container--search {
	min-height: 66.9vh;
	background-color: var(--color-lightgray);

	padding: 1rem;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	place-items: center;
	gap: 1rem;
}
