@use "../../assets/abstracts" as abs;

.container--search {
	min-height: 62vh;
	background-color: var(--color-lightgray);

	padding: 1rem;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	place-items: center;
	gap: 1rem;
}
