.container--filter {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	min-height: 10vh;

	background-color: green;

	label {
		margin: 0.5rem;

		font-size: 1.5rem;
	}

	input {
		width: 15rem;
		height: 2rem;
		margin: 0.5rem;
		padding-inline: 0.25rem;

		background-color: var(--color-white);

		color: var(--color-black);
		font-size: 1.5rem;
	}
}

.container--search {
	min-height: 70vh;
	background-color: lightblue;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
}

.card {
	position: relative;
	padding: 1rem;
	outline: 0.1rem solid var(--color-black);
	color: var(--color-lightgray);
	span {
		font-weight: bold;
	}
	img {
		height: 1rem;
		position: absolute;
	}
	height: 25rem;
	overflow-y: auto;
}

.monsterCard {
	background-color: var(--color-primary-monster);
}

.spellCard {
	background-color: var(--color-primary-spell);
}

.trapCard {
	background-color: var(--color-primary-trap);
}
