.footer {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(3, 1fr);

	min-height: 10vh;

	background-color: var(--color-black);
	overflow: hidden;

	color: var(--color-lightgray);
	text-align: center;
	font-size: 1.1rem;
	line-height: 2rem;
	font-weight: lighter;

	cursor: default;

	span {
		font-weight: bold;
	}

	::selection {
		background: var(--color-lightgray);

		color: var(--color-black);
	}
}
