@use "../../assets/abstracts" as abs;

.container--cart {
	padding: 1rem;
	width: 100vw;

	display: grid;
	place-items: center;
	grid-template-columns: repeat(1, 1fr);
	@include abs.mq(1000px, 0px) {
		grid-template-columns: repeat(2, 1fr);
	}

	overflow: hidden;

	text-align: center;
}
