@use "../abstracts" as abs;

.footer {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(3, 1fr);

	padding-block: 4rem;

	background-color: var(--color-black);

	color: var(--color-white);
	text-align: center;
	font-size: 1.25rem;
	line-height: 2rem;
	font-weight: lighter;

	span {
		font-weight: bold;
	}

	::selection {
		background: var(--color-white);

		color: var(--color-black);
	}
}
