@use "../abstracts" as abs;

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;

	min-height: 60vh;

	margin: 2rem;
	padding: 2rem;
}

.card {
	position: relative;
	padding: 1rem;
	outline: 0.1rem solid black;
	color: hsl(0, 0%, 70%);
	span {
		font-weight: bold;
	}
	img {
		height: 1rem;
		position: absolute;
	}
	height: 25rem;
	overflow-y: auto;
}

.monsterCard {
	background-color: hsl(20, 100%, 25%);
}

.spellCard {
	background-color: hsl(160, 100%, 25%);
}

.trapCard {
	background-color: hsl(334, 40%, 25%);
}

input {
	position: relative;
	top: 1rem;
	left: 40vw;
	width: 20vw;
	height: 2rem;
	font-size: 1.5rem;
	background-color: hsl(0, 0%, 70%);
}

.error {
	font-size: 2rem;
	font-weight: bold;
}

h1 {
	width: 100vw;
	text-align: center;
	color: lightgray;
}
