@use "../abstracts" as abs;

:root {
	--color-gray: hsl(0, 0%, 30%);
	--color-lightgray: hsl(0, 0%, 90%);
	--color-white: hsl(0, 0%, 100%);
	--color-black: hsl(0, 0%, 0%);

	--color-primary-monster: hsl(20, 100%, 25%);
	--color-primary-spell: hsl(120, 70%, 50%);
	--color-primary-trap: hsl(334, 40%, 25%);

	font-family: "Montserrat", sans-serif;
}

*,
*::before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
}

body {
	background-color: var(--color-lightgray);
}
