body {
	background-color: hsl(0, 0%, 30%);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.heading {
	width: 100vw;
	text-align: center;
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;

	margin: 2rem;
	padding: 2rem;
}

.card {
	padding: 1rem;
	outline: 0.1rem solid black;

	span {
		font-weight: bold;
	}
}

input {
	position: relative;
	top: 1rem;
	left: 40vw;
	width: 20vw;
	height: 2rem;
	font-size: 1.5rem;
	background-color: hsl(0, 0%, 70%);
}

.error {
	font-size: 2rem;
	font-weight: bold;
}
